version: '0.1'
services:
  # redis1配置
  redis1:
    image:  redis/redis-stack-server:6.2.6-v7
    container_name: redis-1
    restart: always
    network_mode: "host"
    volumes:
      - /Users/das/redis-cluster/redis-1/data:/data
      - /Users/das/redis-cluster/redis-1/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  # redis2配置
  redis2:
    image:  redis/redis-stack-server:6.2.6-v7
    container_name: redis-2
    restart: always
    network_mode: "host"
    volumes:
      - /Users/das/redis-cluster/redis-2/data:/data
      - /Users/das/redis-cluster/redis-2/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  # redis3配置
  redis3:
    image:  redis/redis-stack-server:6.2.6-v7
    container_name: redis-3
    restart: always
    network_mode: "host"
    volumes:
      - /Users/das/redis-cluster/redis-3/data:/data
      - /Users/das/redis-cluster/redis-3/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  # redis4配置
  redis4:
    image:  redis/redis-stack-server:6.2.6-v7
    container_name: redis-4
    restart: always
    network_mode: "host"
    volumes:
      - /Users/das/redis-cluster/redis-4/data:/data
      - /Users/das/redis-cluster/redis-4/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  # redis5配置
  redis5:
    image:  redis/redis-stack-server:6.2.6-v7
    container_name: redis-5
    restart: always
    network_mode: "host"
    volumes:
      - /Users/das/redis-cluster/redis-5/data:/data
      - /Users/das/redis-cluster/redis-5/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  # redis6配置
  redis6:
    image:  redis/redis-stack-server:6.2.6-v7
    container_name: redis-6
    restart: always
    network_mode: "host"
    volumes:
      - /Users/das/redis-cluster/redis-6/data:/data
      - /Users/das/redis-cluster/redis-6/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]